<div class="btn-group">
            
  <a routerLink="/admin/produtos/add" class="btn btn-outline-primary">
      <i class="bi bi-plus-lg"></i>
      Adicionar
  </a>
</div>


<table class="table table-striped">
  <thead>
    <tr>
          <th scope="col">#</th>
          <th scope="col">Imagem</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Quntidade em Estoque</th>
          <th scope="col">Data de Alteração</th>
          <th scope="col">Ativo</th>
          <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos; let i = index"  > <!-- PropertyBinding -->
          <th scope="row">{{i + 1}}</th>
          <td>
              <a>
                  <img src="img/images.jpeg">
              </a>
          </td>
          <td>{{produto.nome}}</td>
          <td>{{produto.valor}}</td>
          <td>{{produto.quantidadeEmEstoque}}</td>
          <td>{{produto.dataAlteracao | DateFormatPipe}}</td>
          <td>
              <i *ngIf="produto.estado == true" class="bi bi-check-lg"></i>
              <i *ngIf="produto.estado == false || null" class="bi bi-x-lg"></i>
          </td>
          <td>
              <a class="btn btn-outline-primary" routerLink="/admin/produtos/detail/{{produto.id}}">
                  <i class="bi bi-eye"></i>
              </a>
              <a class="btn btn-outline-success" routerLink="/admin/produtos/edit/{{produto.id}}">
                  <i class="bi bi-pencil-fill"></i>
              </a>
              <a  class="btn btn-outline-danger" (click)="openModal($event,delete, produto.id)" tooltip="Deletar">
                  <i class="bi bi-trash">

                  </i>
              </a>
          </td>
      </tr>

</tbody>
</table>

<ng-template #delete>
    <div class="modal-body text-center">
      <p>Do you want to delete {{produtoId}}</p>
      <button type="button" class="btn btn-default" (click)="confirm()">Sim </button>
      <button type="button" class="btn btn-danger" (click)="decline()">Não </button>
    </div>
</ng-template>