<div class="btn-group">
            
  <a href="#" class="btn btn-outline-primary">
      <i class="bi bi-plus-lg"></i>
      Adicionar
  </a>
</div>


<table class="table table-striped">
  <thead>
    <tr>
          <th scope="col">#</th>
          <th scope="col">Imagem</th>
          <th scope="col">Nome</th>
          <th scope="col">Preço</th>
          <th scope="col">Quntidade em Estoque</th>
          <th scope="col">Data de Alteração</th>
          <th scope="col">Ativo</th>
          <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos"  > <!-- PropertyBinding -->
          <th scope="row">1</th>
          <td>
              <a>
                  <img src="img/images.jpeg">
              </a>
          </td>
          <td>{{produto.nome}}</td>
          <td>{{produto.valor}}</td>
          <td>{{produto.quantidadeEmEstoque}}</td>
          <td>{{produto.dataAlteracao | DateFormatPipe}}</td>
          <td>
              <i *ngIf="produto.estado == true" class="bi bi-check-lg"></i>
              <i *ngIf="produto.estado == false || null" class="bi bi-x-lg"></i>
          </td>
          <td>
              <a href="#" class="btn btn-outline-primary">
                  <i class="bi bi-eye"></i>
              </a>
              <a href="#" class="btn btn-outline-success">
                  <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="#" class="btn btn-outline-danger">
                  <i class="bi bi-trash"></i>
              </a>
          </td>
      </tr>
      <tr>
          <th scope="row">1</th>
          <td>
              <a>
                  <img src="img/images.jpeg">
              </a>
          </td>
          <td>Smartphone 11</td>
          <td>1300,00</td>
          <td>400</td>
          <td>05/09/2021</td>
          <td><i class="bi bi-x-lg"></i></td>
          <td>
              <a href="#" class="btn btn-outline-primary">
                  <i class="bi bi-eye"></i>
              </a>
              <a href="#" class="btn btn-outline-success">
                  <i class="bi bi-pencil-fill"></i>
              </a>
              <a href="#" class="btn btn-outline-danger">
                  <i class="bi bi-trash"></i>
              </a>
          </td>
      </tr>
      <tr>
          <th scope="row">1</th>
          <td>
              <a>
                  <img src="img/images.jpeg">
              </a>
          </td>
          <td>Smartphone 11</td>
          <td>1300,00</td>
          <td>400</td>
          <td>05/09/2021</td>
          <td><i class="bi bi-x-lg"></i></td>
          <td>
              <a href="#" class="btn btn-outline-primary"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" >
              <i class="bi bi-eye"></i>
          </a>
          <a href="#" class="btn btn-outline-success">
              <i class="bi bi-pencil-fill"></i>
          </a>
          <a href="#" class="btn btn-outline-danger">
              <i class="bi bi-trash"></i>
          </a>
      </td>
  </tr>
</tbody>
</table>