   
   <nav id="sidebar">
    <div class="sidebar-header">
        <a href="#">
            <img src="assets/img/CompreyLogo.png" class="img-fluid" id ="empr logo" >
        </a>
    </div>
    
    <ul class="list-unstyled components">  
        <li>
            <!-- <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="Disabled tooltip"></span> -->
            <a href="#">
                <i class="bi bi-bar-chart-line"></i>
                <p>Painel</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-box-seam"></i>
                <p>Produtos</p>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-bag-check"></i>
                <p>Vendas</p>
            </a>
        </li>
    </ul>
    
</nav>


