<!-- /////////////////////////// TESTE ///////////////////////////////////////////////////// -->
<form [formGroup]="form" class="row form-container" > 
  
  <div class="col-6 " >
    
    <div class="">
      <figure class="figure">
        <img src="assets/img/produto-detalhe.jpg" class="figure-img img-fluid rounded img-fluid produto-detalhe" alt="...">
        <figcaption class="figure-caption">A caption for the above image.</figcaption>
      </figure>
      <div class="">
        <label for="formFile" class="form-label">Escolha uma Imagem.</label>
        <input class="form-control" type="file" id="formFile">
      </div>
    </div>
  </div>
  
  <div class="col-6" >
    
    <div class="">
      <label for="validationServer01" class="form-label">Nome do Produto</label>
      <input type="text" class="form-control" formControlName="nome" 
      [ngClass]="{'is-invalid': form.controls['nome'].invalid  && f.nome.touched}">
      <!-- <div *ngIf="f.nome.hasError('required')" class="invalid-feedback" >
        O nome é obrigatorio
      </div> -->
      
      
      <div *ngIf=" form.controls['nome'].invalid && (form.controls['nome'].dirty || form.controls['nome'].touched)"
      class="alert alert-danger">
      
      <div *ngIf="form.controls['nome'].errors?.minlength" class="invalid-feedback">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="form.controls['nome'].errors?.forbiddenName" class="invalid-feedback">
        Name cannot be Bob.
      </div>
      
      <div *ngIf="form.errors?.required">
        Name is required.
      </div>
      
      
    </div>
  </div>
  
  <div class="">
    <label>Valor do Produto</label>
    <input type="text" class="form-control" formControlName="valor" 
    [ngClass]="{'is-invalid': form.controls['valor'].invalid  && f.valor.touched}">
    <div *ngIf="f.valor.hasError('required')" class="invalid-feedback" >
      A quantidade é obrigatorio
    </div>
    <div *ngIf=" form.controls['valor'].invalid && (form.controls['valor'].dirty || form.controls['valor'].touched)"
    class="alert alert-danger">
    
    <div *ngIf="form.errors?.required">
      A quantidade is required.
    </div>
    <div *ngIf="form.controls['valor'].errors?.minlength">
      A quantidade must be at least 4 characters long.
    </div>
    <div *ngIf="form.controls['valor'].errors?.forbiddenName">
      A quantidade cannot be Bob.
    </div>
  </div> 
</div>

<div class="">
  <label>Quantidade em estoque</label>
  <input type="text" class="form-control" formControlName="quantidadeEmEstoque"
  [ngClass]="{'is-invalid': form.controls['quantidadeEmEstoque'].invalid  && f.quantidadeEmEstoque.touched}">
  <div *ngIf="f.quantidadeEmEstoque.hasError('required')" class="invalid-feedback" >
    A quantidade é obrigatorio
  </div>
  <div *ngIf=" form.controls['quantidadeEmEstoque'].invalid && (form.controls['quantidadeEmEstoque'].dirty || form.controls['quantidadeEmEstoque'].touched)"
  class="alert alert-danger">
  
  <div *ngIf="form.errors?.required">
    A quantidade is required.
  </div>
  <div *ngIf="form.controls['quantidadeEmEstoque'].errors?.minlength">
    A quantidade must be at least 4 characters long.
  </div>
  <div *ngIf="form.controls['quantidadeEmEstoque'].errors?.forbiddenName">
    A quantidade cannot be Bob.
  </div>
</div> 
</div>

<div class="">
  <label for="validationServer02" class="form-label">Ativar Produto</label>
  <div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
    <label class="form-check-label" for="flexSwitchCheckChecked">Um produto ativado permite que outro possam ver e comprar</label>
  </div>
</div>

<div class="">
  <label>Observação</label>
  <textarea type="text" class="form-control" formControlName="observacao"
  [ngClass]="{'is-invalid': form.controls['observacao'].invalid  && f.observacao.touched}"></textarea>
  <div *ngIf="f.observacao.hasError('required')" class="invalid-feedback" >
    O nome é obrigatorio
  </div>
  <div *ngIf=" form.controls['observacao'].invalid && (form.controls['observacao'].dirty || form.controls['observacao'].touched)"
  class="alert alert-danger">
  
  <div *ngIf="form.errors?.required">
    Name is required.
  </div>
  <div *ngIf="form.controls['observacao'].errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="form.controls['observacao'].errors?.forbiddenName">
    Name cannot be Bob.
  </div>
</div>
</div>

<div class="">
  <label>Descrição</label>
  <textarea type="text" class="form-control" formControlName="descricao"
  [ngClass]="{'is-invalid': form.controls['descricao'].invalid  && f.nome.touched}"></textarea>
  <div *ngIf="f.descricao.hasError('required')" class="invalid-feedback" >
    O nome é obrigatorio
  </div>
  <div *ngIf=" form.controls['descricao'].invalid && (form.controls['descricao'].dirty || form.controls['descricao'].touched)"
  class="alert alert-danger">
  
  <div *ngIf="form.errors?.required">
    Name is required.
  </div>
  <div *ngIf="form.controls['descricao'].errors?.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="form.controls['descricao'].errors?.forbiddenName">
    Name cannot be Bob.
  </div>
</div>
</div>

<br>
<button class="btn btn-secondary" (click)="resetForm()" routerLink="/admin/produtos/list" >
  Fechar
</button>
<button class="btn btn-primary" (click)="salvarAlteracao()">
  Salvar Alterações
</button>
<br>
<br>

</div>
</form>
